@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --gradient-primary: linear-gradient(to right, #4f39f6, #9514fa);
  --color-primary: #101727;
  --color-gray: #627382;
}

@utility bg-gradient-primary {
  background: var(--gradient-primary);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
